<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="base_separated_macro">
  <!-- This macro is used to define robot body as SEPARATED LINKS. 
       Useful if you want to set specific inertial characteristics for each piece of the body -->

    <joint name="world_base_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="world" />
      <child link="base_link" /> 
    </joint>

    <link name="base_link"/>

    <joint name="body_float" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="base_link" />
      <child link="float" /> 
    </joint>

    <link name="float">
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <mass
          value="3.1152" />
        <inertia
          ixx="0.0036482"
          ixy="7.8081E-07"
          ixz="1.7521E-06"
          iyy="0.0062179"
          iyz="-1.4424E-06"
          izz="0.0034682" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/float.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/float.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="float_decal" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="float" />
      <child link="decal" /> 
    </joint>

    <link name="decal">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/decal.dae" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="logo">
          <texture filename="file://$(find rov_ricketts_description)/textures/logo.png"/>
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/decal.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>
    
    <joint name="decal_frame" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="decal" />
      <child link="frame" /> 
    </joint>

    <link name="frame">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/frame.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/frame.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="frame_thrusters" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="frame" />
      <child link="thrusters" /> 
    </joint>

    <link name="thrusters">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/thrusters.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/thrusters.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>
  
    <joint name="trhusters_equipment" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="thrusters" />
      <child link="equipment" /> 
    </joint>

    <link name="equipment">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/equipment.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find rov_ricketts_description)/meshes/equipment.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>
</robot>