<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
    
      <plugin
        filename="gz-sim-buoyancy-engine-system"
        name="gz::sim::systems::BuoyancyEngine">
        <link_name>base_link</link_name>
        <namespace>rov_ricketts</namespace>
        <min_volume>-30.0</min_volume>
        <neutral_volume>4.7</neutral_volume>
        <default_volume>-3.85</default_volume>
        <max_volume>30.0</max_volume>
        <surface>100.0</surface>
        <max_inflation_rate>2.5</max_inflation_rate>
      </plugin>

      <plugin
            filename="gz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
      </plugin>

    </gazebo>
</robot>