<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="joint_states_publisher_macro" params="load_arm name">
        <!-- Gazebo plugin for joint state publisher  -->
    
        <gazebo>
            <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
                <!-- <update_rate>500</update_rate> -->
                <topic>/joint_states</topic>
                
                <!-- <joint_name>base_float_joint</joint_name> -->
    
                <joint_name>front_left_thruster</joint_name>
                <joint_name>front_right_thruster</joint_name>
                <joint_name>rear_right_thruster</joint_name>
                <joint_name>rear_left_thruster</joint_name>
                <joint_name>up_rear_thruster</joint_name>
                <joint_name>up_front_left_thruster</joint_name>
                <joint_name>up_front_right_thruster</joint_name>

                <xacro:if value="$(arg load_arm)">
                    <joint_name>${name}_base_joint</joint_name>
                    <joint_name>${name}_base_link1</joint_name>
                    <joint_name>${name}_link1_link2</joint_name>
                    <joint_name>${name}_link2_link3</joint_name>
                    <joint_name>${name}_link3_link4</joint_name>
                    <joint_name>${name}_link4_link5</joint_name>
                    <joint_name>${name}_link5_claw_right</joint_name>
                    <joint_name>${name}_link5_claw_left</joint_name>
                </xacro:if>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>