<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo reference="sonar_frame">
        <sensor name="sonar" type="gpu_ray">
          <!-- <pose>1.54601 -0.004325 0.730815 0 0 0</pose> -->
          <pose>0 0 0 0 0 0</pose>   
          <update_rate>5</update_rate>
          <topic>sonar</topic>
          <ray>
            <scan>
              <horizontal>
                <samples>100</samples>
                <resolution>1</resolution>
                <min_angle>-1.57</min_angle>
                <max_angle>1.57</max_angle>
              </horizontal>
              <vertical>
                <samples>20</samples>
                <resolution>1</resolution>
                <min_angle>-0.76</min_angle>
                <max_angle>1.57</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.10000000000000001</min>
              <max>130</max>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.01</stddev>
            </noise>
          </ray>
        </sensor>
    </gazebo>
</robot>